.bel{
    position: absolute;
    right: 175px;
    top: 30px;
}
.profilpict{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 3px
}
.navbox{
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}